/node_modules
/public/hot
/public/js/*
/public/css/*
/public/vendor/nova/*
public/vendor/nova/*
/public/storage
/storage/*.key
/vendor
.env
.env.dusk.local
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
/public/mix-manifest.json
auth.json
/package-lock.json
