@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

html {
    scroll-behavior: smooth;
}

.prose {
    color: white;
}

.prose :where(h2):not(:where([class~=not-prose] *)) {
    color: white;
}

.hack-font-regular {
  font-family: hack, sans-serif;
  font-weight: 400;
  font-style: normal;
}

.hack-font-bold {
  font-family: hack, sans-serif;
  font-weight: 700;
  font-style: normal;
}

.hack-font-italic {
  font-family: hack, sans-serif;
  font-weight: 400;
  font-style: italic;
}
