@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}

.hack-font-regular {
    font-family: hack, sans-serif;
    font-weight: 400;
    font-style: normal;
}

.hack-font-bold {
    font-family: hack, sans-serif;
    font-weight: 700;
    font-style: normal;
}

.hack-font-italic {
    font-family: hack, sans-serif;
    font-weight: 400;
    font-style: italic;
}

a {
    @apply transition ease-in-out duration-300;
    @apply text-teal;
}

a:hover {
    @apply transition ease-in-out duration-300;
}

p {
    @apply mt-4;
}

.partnerships img {
    @apply transition ease-in-out duration-300;
    @apply filter grayscale;
}

.partnerships img:hover {
    @apply transition ease-in-out duration-300;
    @apply filter-none;
}
