@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    font-size: 18px;
    scroll-behavior: smooth;
}

.prose {
    color: white;
}

.prose :where(h2):not(:where([class~=not-prose] *)) {
    color: white;
}

.hack-font-regular {
    font-family: hack, sans-serif;
    font-weight: 400;
    font-style: normal;
}

.hack-font-bold {
    font-family: hack, sans-serif;
    font-weight: 700;
    font-style: normal;
}

.hack-font-italic {
    font-family: hack, sans-serif;
    font-weight: 400;
    font-style: italic;
}

/*
a {
    @apply transition duration-300 ease-in-out;
    @apply text-teal;
}

a:hover {
    @apply transition duration-300 ease-in-out;
}
*/

p {
    @apply text-base;
    @apply my-2;
}

td, th {
    @apply text-base;
}

h1 {
    @apply text-3xl;
    @apply font-bold;
}

h2 {
    @apply text-2xl;
    @apply font-bold;
}

h3 {
    @apply text-xl;
    @apply font-bold;
}

h4, h5, h6 {
    @apply text-base;
    @apply font-bold;
}

small {
    @apply text-sm;
}

.channel:hover .icon {
    @apply text-gray-900;
}

.channel:hover .twitter {
    color: #1DA1F2;
}

.channel:hover .youtube {
    color: #FF0000;
}

.channel:hover .facebook {
    color: #4267B2;
}

.channel:hover .instagram {
    color: #E1306C;
}

.channel:hover .linkedin {
    color: #0072b1;
}

.prose ul {
    list-style: circle !important;
    display: block;
    color: #ffffff;
    margin: 1rem 0;
}

.prose ul li {
    color: #ffffff;
    display: block;
    margin-left: 2rem;
}

blockquote,
cite {
    @apply mx-4;
}

[x-cloak] { 
    display: none !important; 
}

/* General Scrollbar Styling */
::-webkit-scrollbar {
    width: 12px;
}
::-webkit-scrollbar-track {
background: black;
}
::-webkit-scrollbar-thumb {
background-color: #4e4e4c;
}

/* Scrollbar Firefox */
body {
    scrollbar-width: thin;
    scrollbar-color: #4e4e4c black;
}